beautifulsoup4
bs4
bson
Flask
Flask-Caching
Flask-Login
Flask-Mail
Flask-Scrypt
Flask-WTF
folium
gensim
geopy
h5py
hnswlib
lmdb
nltk
numexpr
numpy
pandas
Pillow
polyglot
pybind11
pycld2
PyICU
scikit-learn
scipy
Scrapy
spacy
SPARQLWrapper
tldextract
uWSGI
Werkzeug==2.2.3
wordnet
WTForms
languagecodes
banal
pymongo
psutil
